<app-navbar></app-navbar>
<app-toasty></app-toasty>
<app-spinner [hidden]="!displaySpinner"></app-spinner>
<mat-tab-group mat-align-tabs="start" [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Pessoas">
        <p-table [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Registro {first} até {last} com total de {totalRecords} registros">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: center">
                    Lista de pessoas
                    <button type="button" class="p-button-outlined" iconPos="left" style="float:right" icon="pi pi-plus"
                        label="Adicionar" (click)="novaPessoa()" pButton></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="text-align: center;">
                    <th style="width: 15em;">Nome</th>
                    <th style="width: 10em;">CPF</th>
                    <th>Email</th>
                    <th style="width: 10em;">Tipo</th>
                    <th style="width: 10em;">Situação</th>
                    <th style="width: 5em;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr class="ui-selectable-row" style="text-align: center;">
                    <td>{{rowData.nome}}</td>
                    <td>{{rowData.cpf}}</td>
                    <td>{{rowData.email}}</td>
                    <td>{{rowData.tipo_pessoa}}</td>
                    <td [style.color]="rowData.situacao_pessoa === 'ATIVO' ? 'green' : 'red'">
                        {{rowData.situacao_pessoa}}
                    </td>
                    <td>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-outlined"
                            icon="pi pi-pencil" (click)="getPessoa(rowData.id_pessoa)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        <h2>Sem dados para listar.</h2>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>
    <mat-tab [label]="titleDisplay">
        <app-pessoa-form [pessoa]="pessoa" (retornoPersistencia)="getRetornoFormPessoa($event)" [isSituacao]="true"
            [isTipo]="true"></app-pessoa-form>
    </mat-tab>
</mat-tab-group>

<p-confirmDialog header="Alerta" icon="pi pi-exclamation-triangle" #confirmacao>
    <p-footer>
        <button class="p-button-outlined" type="button" icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"
            pButton></button>
        <button type="button" icon="pi pi-times" label="Não" (click)="confirmacao.reject()" pButton></button>
    </p-footer>
</p-confirmDialog>