<div>
    <div>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./../../../assets/img/landpage/carrocel/qmsomos.jpg" alt="Los Angeles" width="1100"
                        height="500">
                    <a href="#section1">
                        <div class="carousel-caption">
                            <h3>Quem Somos?</h3>
                            <b>
                                <p>Como surgimos e o'que fazemos?</p>
                            </b>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <img src="./../../../assets/img/landpage/carrocel/nossacomunidade.jpg" alt="Chicago" width="1100"
                        height="500">
                    <a href="#section2">
                        <div class="carousel-caption">
                            <h3>Nossa comunidade</h3>
                            <b>
                                <p>Como funciona?</p>
                            </b>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <img src="./../../../assets/img/landpage/carrocel/blog.png" alt="New York" width="1100"
                        height="500">
                    <div class="carousel-caption">
                        <a href="http://localhost:4200/#/seguranca/login">
                            <h3>Blog</h3>
                        </a>
                        <b>
                            <p>Faça seu cadastro!</p>
                        </b>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>

    </div>

</div>
<div class="sobreoblog">
    <div id="section2">
        <h1>Blog Estácio</h1>

        <h2>Hierarquia de usuários</h2>

    </div>
    <div class="container">
        <div class="row">
            <mat-card class="example-card col">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image1"></div>
                    <mat-card-title>Abel Gasques-Admin</mat-card-title>
                    <mat-card-subtitle>Admin-user</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/landpage/cards/fotoperfil1.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card col">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image2"></div>
                    <mat-card-title>Leandro Hugston</mat-card-title>
                    <mat-card-subtitle>Professor</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/landpage/cards/fotoperfil2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card col">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image3"></div>
                    <mat-card-title>Matheus lenis</mat-card-title>
                    <mat-card-subtitle>Aluno</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/landpage/cards/fotoperfil3.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>

        <h2>Regras do Blog</h2>

        <div id="accordion">
            <div class="card1">
                <div class="card-header1">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <b>1°</b>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <h3>Não xingar</h3>
                        <p>hbhbh i uhiuygugubg uygujbu vu gguyg ugb uj</p>
                    </div>
                </div>
            </div>
            <div class="card1">
                <div class="card-header1">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <b>2°</b>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <h3>Não xingar</h3>
                        <p>hbhbh i uhiuygugubg uygujbu vu gguyg ugb uj</p>
                    </div>
                </div>
            </div>
            <div class="card1">
                <div class="card-header1">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <b>3°</b>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <h3>Não xingar</h3>
                        <p>hbhbh i uhiuygugubg uygujbu vu gguyg ugb uj</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="section1" class="quemsomos col">
                <h1>Quem Somos?</h1>

                <h3>Como surgimos?</h3>

                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds ofdog
                    from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>

                <h3>O'que fazemos?</h3>

                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds ofdog
                    from
                    Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Siga-nos nas redes sociais</h4>
                <p>@abel_gasques</p>
                <p>@ramon_viadao</p>
                <p>@seila_fds</p>
            </div>
            <div class="col">
                <h4>Para reclamações ou duvidas:</h4>
                <p>(48) 95859-5859</p>
                <p>@blog_estaio</p>
                <p>blogestacio@gmail.com</p>
            </div>
        </div>
    </div>
</footer>