<div class="body">
    <div class="container">
        <div class="box">
            <div class="imgBox">
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="primeira">
            </div>
            <div class="detalhes">
                <div class="contidos">
                    <h1>Rotas frias</h1>
                    <p> Modos de ir aos nossos endereços fixos em sua proximidade </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img2.jpg" alt="segunda">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img3.jpg" alt="terceira">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img4.jpg" alt="quarta">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img5.jpg" alt="quinta">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img6.jpg" alt="sexta">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img7.jpg" alt="setima">
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="img8.jpg" alt="oitava">
            </div>
        </div>
    </div>
</div>

<div class="p-g">
    <div class="p-g-12 p-fluid">
        <h1>Loja virtual (nome app)</h1>
    </div>
</div>