<mat-toolbar color="primary">
    <a mat-icon-button (click)="displaySidebar=!displaySidebar">
        <mat-icon>menu</mat-icon>
    </a>
    <a routerLinkActive="active" [routerLink]="['/']">Loja virtual</a>
    <span class="example-spacer"></span>
    <a mat-button routerLinkActive="active" [routerLink]="['/seguranca','login']">
        <mat-icon>login</mat-icon>
        Login
    </a>
    <a mat-button routerLinkActive="active" [routerLink]="['/seguranca','pessoa','incluir']">
        <mat-icon>people</mat-icon>
        Inscreva-se
    </a>
</mat-toolbar>

<p-sidebar [(visible)]="displaySidebar" [showCloseIcon]="false">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <a mat-icon-button (click)="this.displaySidebar = !this.displaySidebar">
            <mat-icon>close</mat-icon>
        </a>
        <p-table [value]="menu" [rowHover]="true" selectionMode="single">
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" >
                    <td>---{{rowData.categoria.nm}}</td>
                </tr>
                <tr *ngFor="let subcategoria of rowData.subcategorias" [pSelectableRow]="subcategoria" >
                    <td>{{subcategoria.nm}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>
</p-sidebar>