<app-spinner [hidden]="!displaySpinner"></app-spinner>
<mat-toolbar color="primary">
    <a mat-icon-button (click)="displaySidebar=!displaySidebar">
        <mat-icon>menu</mat-icon>
    </a>
    <a routerLinkActive="active" [routerLink]="['/']">Loja virtual</a>
    <span class="example-spacer"></span>
    <a mat-button routerLinkActive="active" [routerLink]="['/seguranca','login']">
        <mat-icon>login</mat-icon>
        Login
    </a>
    <a mat-button routerLinkActive="active" [routerLink]="['/seguranca','pessoa','incluir']">
        <mat-icon>people</mat-icon>
        Inscreva-se
    </a>
</mat-toolbar>
<p-sidebar [(visible)]="displaySidebar" [showCloseIcon]="false" [blockScroll]="true">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">

        <p-treeTable [value]="menu" selectionMode="single" #tt *ngIf="this.displaySidebar">
            <ng-template pTemplate="header">
                <tr>
                    <th [ngClass]="'kb-row'">
                        <a mat-icon-button (click)="this.displaySidebar = !this.displaySidebar">
                            <mat-icon>close</mat-icon>
                        </a>
                        Filtro por categorias
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttSelectableRow]="rowNode">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{rowData.name}}
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </p-scrollPanel>
</p-sidebar>