.mat-menu-item {
    min-width: 250px;
    max-width: 100%;
}

.img{
    margin: 5px auto 0;
    padding: 0;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100%;
    padding: 0;
    margin: 0;
}

.people {
    margin: 0 auto 0;
    text-align: center;
    color: #000;
    width: 100%;
    padding: 0;
}

.img_perfil_pessoal_navbar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #fff 1px solid;
}

.kb-row {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #ffffff !important;
}


.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar a:hover{
    color: #fff;
}

.mat-toolbar a{
    color: #fff;
}

.mat-toolbar {
    background: #552acc;
}
