<div class="row" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <div fxLayoutAlign="center center">
            <img class="img" src="../../../assets/img/box-login.png">
            <span class="login">Login</span>
        </div>
        <form #f="ngForm" autocomplete="off" (ngSubmit)="validar()">
            <div class="col-12 p-fluid">
                <label>E-mail</label>
                <input pInputText type="text" name="email" [(ngModel)]="usuario.email" minlength="5" maxlength="50"
                    required>
            </div>
            <div class="col-12 p-fluid">
                <label>Senha</label>
                <input pInputText type="password" name="senha" [(ngModel)]="usuario.senha" minlength="5" maxlength="50"
                    required>
            </div>
            <div class="col-12 p-fluid">
                <button pButton type="submit" label="Entrar" [disabled]="!f.valid"></button>
            </div>
        </form>
        <div class="col-12">
            <div class="col-12" fxLayoutAlign="center center">
                <a mat-button [routerLink]="['/seguranca','pessoa', 'incluir']" routerLinkActive="select">
                    Cadastrar-se
                </a>
            </div>
        </div>
    </div>
    <div class=" col-12" fxLayoutAlign="center center">
        <a mat-button [routerLink]="['']" routerLinkActive="active-link">
            Voltar ao inicio
        </a>
    </div>
</div>