<p-panel class="col-12" header="Foto de perfil">
    <div class="box">
        <img class="img" [src]="pathImgPessoaPerfil+pessoa.img_pessoa">
        <button type="button" label="Escolher" (click)="getImg()" pButton></button>
    </div>
</p-panel>

<p-panel class="col-12" header="Dados pessoais">
    <form class="row p-fluid" #formPessoa="ngForm" autocomplete="off" (ngSubmit)="gerenciarPersistencia(formPessoa)">
        <div class="col-6 col-md-3">
            <label>Nome</label>
            <input type="text" name="nome" [(ngModel)]="pessoa.nome" required maxlength="20" pInputText>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-4">
            <label>Sobrenome</label>
            <input type="text" name="sobrenome" [(ngModel)]="pessoa.sobrenome" required maxlength="50" pInputText>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-6 col-md-2">
            <label>CPF</label>
            <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="pessoa.cpf" required></p-inputMask>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-6 col-md-2">
            <label>Genero</label>
            <p-dropdown name="genero" [options]="generos" appendTo="body" [(ngModel)]="pessoa.genero"></p-dropdown>
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-2" [hidden]="!isTipo">
            <label>Tipo</label>
            <p-dropdown name="tipo" [options]="tipos" appendTo="body" [(ngModel)]="pessoa.tipo_pessoa" required>
            </p-dropdown>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-4">
            <label>E-mail</label>
            <input type="text" name="email" [(ngModel)]="pessoa.email" required maxlength="50" pInputText>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-3">
            <label>Celular</label>
            <p-inputMask mask="(99) 99999-9999" name="celular" [(ngModel)]="pessoa.celular" required></p-inputMask>
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-3">
            <label>Telefone</label>
            <p-inputMask mask="(99) 9999-9999" name="telefone" [(ngModel)]="pessoa.telefone"></p-inputMask>
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-12 col-md-4">
            <label>Senha</label>
            <input type="password" pPassword name="senha" [(ngModel)]="pessoa.senha" required maxlength="20">
            <small class="obrigatorio">Campo obrigatorio</small>
        </div>
        <div class="col-12 col-md-4" [hidden]="!isSituacao">
            <label>Situação</label>
            <p-selectButton [options]="situacoes" name="situacao" [(ngModel)]="pessoa.situacao_pessoa" required>
            </p-selectButton>
            <small class="obrigatorio">Campo obrigatório</small>
        </div>
    </form>
</p-panel>
<p-panel class="col-12" header="Endereço">
    <div class="row p-fluid">
        <div class="col-6 col-md-2">
            <label>CEP</label>
            <div class="p-inputgroup">
                <input pInputText type="text" name="cep" [(ngModel)]="pessoa.cep">
                <button type="button" pButton icon="pi pi-search" (click)="getEnderecoPorCep(pessoa.cep)"></button>
            </div>
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-1">
            <label>UF</label>
            <input pInputText type="text" name="uf" [(ngModel)]="pessoa.uf">
            <small class="opcional">Opcional</small>
        </div>
        <div class="col-6 col-md-3">
            <label>Cidade</label>
            <input pInputText type="text" name="cidade" [(ngModel)]="pessoa.cidade">
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-3">
            <label>Bairro</label>
            <input pInputText type="text" name="bairro" [(ngModel)]="pessoa.bairro">
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-3">
            <label>Logradouro</label>
            <input pInputText type="text" name="logradouro" [(ngModel)]="pessoa.logradouro">
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-2">
            <label>Complemento</label>
            <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.complemento">
            <small class="opcional">Campo opcional</small>
        </div>
        <div class="col-6 col-md-2">
            <label>Número</label>
            <input pInputText type="text" name="numero" [(ngModel)]="pessoa.numero">
            <small class="opcional">Opcional</small>
        </div>
    </div>
</p-panel>

<div class="row">
    <div class="col-12">
        <button type="button" class="p-button-outlined" icon="pi pi-check" (click)="gerenciarPersistencia(formPessoa)"
            [label]="pessoa.id_pessoa == 0?'Adicionar':'Editar'" [disabled]="!formPessoa.valid" pButton></button>
        <p-button icon="pi pi-times" label="Cancelar" (click)="retornoPersistencia.emit(false)"></p-button>
    </div>
</div>

<p-dialog header="Escolha foto perfil" [(visible)]="displayImages" [modal]="true" [style]="{width: '400px'}">
    <p-table [value]="images" [responsive]="true" selectionMode="single" [(selection)]="imagemSelecionada" 
    dataKey="title">
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <img class="selecao_img" [src]="pathImgPessoaPerfil+rowData.title"
                    alt="Foto de perfil do usuario">
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
        <button type="button" class="p-button-outlined" icon="pi pi-check"
        (click)="setImg()" label="Selecionar" pButton></button>
        <p-button icon="pi pi-times" label="Cancelar" (click)="displayImages=false"></p-button>
    </p-footer>
</p-dialog>