<div class="row">
    <p-panel class="col-12" header="Dados pessoais">
        <form class="row p-fluid" #formPessoa="ngForm" autocomplete="off"
            (ngSubmit)="gerenciarPersistencia(formPessoa)">
            <div class="col-6 col-md-3">
                <label>Nome</label>
                <input type="text" name="nome" [(ngModel)]="pessoa.nome" required maxlength="20" pInputText>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-4">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome" [(ngModel)]="pessoa.sobrenome" required maxlength="50" pInputText>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-6 col-md-2">
                <label>CPF</label>
                <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="pessoa.cpf" required></p-inputMask>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-6 col-md-2">
                <label>Genero</label>
                <p-dropdown name="genero" [options]="generos" appendTo="body" [(ngModel)]="pessoa.genero"></p-dropdown>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-6 col-md-2">
                <label>Tipo</label>
                <p-dropdown name="tipo" [options]="tipos" appendTo="body" [(ngModel)]="pessoa.tipo" required>
                </p-dropdown>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-4">
                <label>E-mail</label>
                <input type="text" name="email" [(ngModel)]="pessoa.email" required maxlength="50" pInputText>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-3">
                <label>Celular</label>
                <p-inputMask mask="(99) 99999-9999" name="celular" [(ngModel)]="pessoa.celular" required></p-inputMask>
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-3">
                <label>Telefone</label>
                <p-inputMask mask="(99) 9999-9999" name="telefone" [(ngModel)]="pessoa.telefone"></p-inputMask>
                <small class="opcional">Campo opcional</small>
            </div>
            <div class="col-12 col-md-4">
                <label>Senha</label>
                <input type="password" pPassword name="senha" [(ngModel)]="pessoa.senha" required maxlength="20">
                <small class="obrigatorio">Campo obrigatorio</small>
            </div>
            <div class="col-12 col-md-4">
                <label>Situação</label>
                <p-selectButton [options]="situacoes" name="situacao" [(ngModel)]="pessoa.situacao" required>
                </p-selectButton>
                <small class="obrigatorio">Campo obrigatório</small>
            </div>
        </form>
    </p-panel>
    <!-- <p-panel class="col-12" header="Endereços" [hidden]="pessoa.id_pessoa==0">
        <ng-template pTemplate="icons">
            <button class="p-button-outlined" icon="pi pi-check" label="Adicionar" pButton></button>
        </ng-template>
        <p-table [value]="enderecos" [responsive]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Registro {first} até {last} com total de {totalRecords} registros">
            <ng-template pTemplate="header">
                <tr style="text-align: center;">
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th style="width: 7em;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr class="ui-selectable-row" style="text-align: center;">
                    <td>{{rowData.nome}}</td>
                    <td>{{rowData.cpf}}</td>
                    <td>{{rowData.email}}</td>
                    <td>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-outlined"
                            icon="pi pi-pencil"></button>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-outlined"
                            icon="pi pi-trash"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        <p>Sem dados para listar.</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel> -->
</div>
<br>
<div class="row col-12">
    <button type="button" class="p-button-outlined" icon="pi pi-check" (click)="gerenciarPersistencia(formPessoa)"
        [label]="pessoa.id_pessoa == 0?'Adicionar':'Editar'" [disabled]="!formPessoa.valid" pButton></button>
    <p-button icon="pi pi-times" label="Cancelar" (click)="retornoPersistencia.emit(false)"></p-button>
</div>